<html>
    <head></head>

    <body>
        <h1>Tasks</h1>
        <%for(let i of todo_list){%>
            <p><%=i.category%></p>
            <%} %>
        <p>

        </p>
    </body>
</html>